
.gallery{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
}
.gallery__item{
    display: block;
    float: left;
    margin: 0 10px 20px;
}
.gallery__item a{
    color: #000;
    display: block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.gallery__item a img{
    border:  solid 1px #000;
    opacity: .8;
}
.gallery__item a img:hover{
    opacity: 1.2;
}